<!DOCTYPE html>
<html>
  <head>
    <title>Map !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://www.buildwithchrome.com/img/v2/heres-a-spot.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2PeYc__pHFtlxJBR3__YDtIy62BqOFEk&callback=initMap">
    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
      <%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <%= flash[:error] %></p>
    <% end %>
    <% flash[:error] = flash[:notice] = nil %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
